html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li, tt,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:left;
  text-decoration:none;
  border-bottom:none;
  font-weight:normal;
  font-style:normal;
  border:none;
  color:#111111;
}

body {
  margin:0;
  padding:0;
  background-color: #f5f5d5 ;
  font-family: Helvetica Neue,Courier New,Microsoft YaHei;
  letter-spacing: -0.01em;
  word-spacing:0.2em;
  line-height: 1.8em;
  font-size:62.5%;
  color:#111111;
  width:98%;
}

ul,li {
  list-style-type: square;
}

p, li {
  font-size: 1.6em;
  line-height: 220%;
}

/* Container */
#container{
  margin: 0 auto;
  background-color:#f5f5d5;
  padding: 1em;
  width:85%;
  min-width: 780px;
  max-width: 1260px;
}

/* Header */

#header{
  width:100%;
}

#header{
  border-bottom:1px solid #d3d3d3;
  margin:1em;
  height:5em;
}

#header h1 {
  font-size: 2.88em;
  font-family: 'Trebuchet MS', Arial, 'Lucida Grande', Verdana, Lucida, Helvetica, sans-serif;
  line-height: 180%;
  margin-bottom: 0.5em;
}

/* Content */
#content{
  margin: 0 auto;
  background-color:#f5f5d5;
  padding: 1em;
  #min-width: 800px;
  #max-width: 1000px;
  /* background-color: #FF0000; */
}

#content h1, h2, h3 {
  margin:0.4em 0 0.2em 0;
  padding: 0 0 0.2em 0;
  color:#000000;
  font-weight:500;
  letter-spacing: -0.03em;
  border-bottom:1px solid #d3d3d3;
}

#column01{
  #background-color:#202020;
  float:left;
  margin-left: 2%;
  width:60%;
}

#column01 h3 {
  font-size: 2.2em;
  font-weight: 500;
  margin-top: 2em;
}

#column01 ul {
    margin-left: 4em;
}

#column01 span{
   color: rgba(0,0,0,0.5);
}

#column01-doc-title a{
  margin-left: 1em;
  text-decoration: underline;
}

#column02{
  float:right;
  margin-right: 2%;
  width:29%;
}

/* Module */

.module{
  background-color: #DEEBF7;
  margin-bottom:1em;
  padding: 1em;
  border-radius: 1em;
}

.module h2{
  font-size:1.8em;
}

.module p,.module ul{
  margin-left:1em;
}

.module li{
  margin-left:1em;
}

/* doc css*/
#content .page-meta * {
    color:#556677;
}

#content p{
  margin-top:1em;
  line-height:180%;
  margin-left:0.8em;
}

#site-meta {
  background-color: #AAD2F0;
  border-radius: 1em;
}

#doc a {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: underline;
}